a {
    font-size: 25px;
    padding: 15px 30px;
    font-weight: 900;
    text-align: center;
    border-radius: 20px;
    background-color: #edb15c;
    color: black;
    text-decoration: none;
}

body {
    background-image: url('./galeria/maszofal2.png');
    background-repeat: repeat-y;
    background-size: 14%;
    background-color: #f7f1d5;
    
    margin-top: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding: 5%;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

ul {
    text-align: center;
    font-size: 25px;
    list-style-type: none;
}

ol {
    list-style-type: none;
}

ol li {
    margin-bottom: 4%;
}

.menu_pont {
    font-size: 185%;
}

